<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>E-Market</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    

    </head>

<body>

<style>
        body{
    background-image: url("https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    margin: 0;    
    height: 100vh;
    background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main{
    text-align: center;
    height: 100%;
    width:40%;
}
.main_product{
  text-align: center;
    height: 100%;
    }
.head{
    transition: 500ms;
    margin: 20px;
}
.links{
    text-decoration: none;
    color:  rgb(122, 83, 31);
    font-size: 30px;
    border:2px solid black;
border-radius: 25px;
padding:5px 15px;
transition: 1000ms;
}
.links:hover{
color: rgb(87, 0, 0);
background-color: bisque;
}
.category_style{
    text-decoration: none;
    color:  rgb(68, 82, 209);
    font-size: 30px;
}
.price_style{
    font-size: 30px;
}
.category_box{
    background-color: rgba(174, 142, 250, 0.5);
    border:2px solid black;
    box-shadow: 5px 10px 8px #888888;
    width:350px;
    margin-left: 35%;
    margin-top: 60px;
    margin-bottom: 60px;
    padding:20px 20px;
    border-radius: 10px;

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .category_box{
    margin-left: 25%;
    }
    .main{
      width:50%;
    }
}
@media (max-width: 767px) {
    .category_box{
    margin-left: 0%;
    }
.product_links{
    display: flex;
}
.main{
      width:90%;
}
}
.form_box{
    background:none;
    border: 2px solid rgb(104, 104, 104);
    border-radius: 25px;
    text-align: center;
    color:black;
}
.form_box::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.form_box:hover{
  border: 2px solid rgb(0, 0, 0);
}
.form_box:active{
    background:none;
}
.link_category{
    text-decoration: none;
    color:  rgb(122, 83, 31);
    font-size: 30px;
border-radius: 25px;
transition: 1000ms;
}
.link_category:hover{
color: rgb(87, 0, 0);
text-decoration: underline;
}

.footer{
    height: 80px;
	color:black;
    font-size: 300px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  
}

.single_hero {
  height: 91vh;
  overflow: hidden;
  z-index: 1;
}

@media only screen and (min-width: 1400px) {
  .single_hero {
    height: 96vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_hero {
    height: 95vh;
  }
}

@media (max-width: 767px) {
  .single_hero {
    height: 94vh;
  }
}

.single_hero::before {
  position: absolute;
  content: '';
  background-color: rgba(43, 42, 61, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}



.hero_content .hero_title {
  font-size: 70px;
  line-height: 85px;
  color: #fff;
  margin-top: 15px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero_content .hero_title {
    font-size: 44px;
    line-height: 65px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero_content .hero_title {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 767px) {
  .hero_content .hero_title {
    font-size: 24px;
    line-height: 38px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero_content .hero_title {
    font-size: 40px;
    line-height: 60px;
  }
}

.hero_content .hero_title span {
  display: contents;
  color: #E84E4E;
}

.hero_content p {
  font-size: 16px;
  color: #fff;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .hero_content p {
    font-size: 16px;
  }
}

.hero_content .main-btn {
  margin-top: 45px;
}
.register_box{
  background-color: rgba(142, 158, 250, 0.5);
    border:2px solid black;
    box-shadow: 5px 10px 8px #888888;
    margin-top: 65px;
    margin-bottom: 60px;
    padding:20px 20px;
    border-radius: 10px;
  }

.nav_button{
  background-color: none;
  text-decoration: none;
  border: none;
 border-radius: 10px;
 font-size: 17px;
 transition: 500ms;
}

.nav_button:hover{
  background-color: rgb(84, 117, 207);;
}
    </style>