<%- include('assets/header')%>

<%- include('assets/navbar')%>
<div class="header_hero">
    <div class="single_hero bg_cover d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="hero_content text-center">
                        <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">E-MARKET</br> </h2>
                        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">By Saptak Chakraborty</p>
                        <a href="/products" class="btn btn-warning wow fadeInUp rounded" data-wow-duration="1.3s" data-wow-delay="0.8s">Products</a>
                    </div> <!-- hero content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- single hero -->
</div> <!-- header hero -->


<%- include('assets/footer')%>