<%- include('assets/header')%>

<%- include('assets/navbar')%>

<div class="container main">
    <h1>Register!</h1>
    <form class="register_box" action="/products/register" method="POST">
        <div class="mb-3">
            <label class="form-label" for="username">Email</label>
            <input class="form-control form_box" type="email" name="username" id="username" placeholder="Enter Username">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control form_box" type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <button class="btn btn-outline-success">Sign Up</button>
    </form>
    <p class="display-6"><span >If already registered</span>  &nbsp<a class="btn btn-outline-dark" href="/products/login">Login</a></p>
    </div>
    <%- include('assets/footer')%>

